__pycache__
*.gdoc
*.gsheet
*.env
*.avi
*.mp4
output.json
parallel_testing_spider.json
sequential_testing_spider.json
marke_and_modell.xlsx
df_all_brands_data.json
df_all_brands_data_cat_1.json
df_all_brands_data_cat_2.json
df_all_brands_data_cat_3.json
df_all_brands_data_cat_4.json
df_all_brands_data_cat_5.json
df_all_brands_data_cat_6.json
bq_credentials.json
rolls_royce_and_ktm.json
koenigsegg.json
email_authentication.json
alpina.json
aston_martin.json
*.png
*.jpg
*.log
df_all_brands_data_cat_5_part_1.json
test.py
*.pdf