__pycache__
*.gdoc
*.gsheet
*.env
*.avi
*.mp4
output.json
parallel_testing_spider.json
sequential_testing_spider.json
marke_and_modell.xlsx
df_all_brands_data.json
bq_credentials.json
rolls_royce_and_ktm.json
koenigsegg.json
email_authentication.json
alpina.json
aston_martin.json
*.png